extends ../layouts/subpage

block content
	.container
		h2 About Modern Moto
		img(src=('/images/yamaha_r5.jpg'), class=('img-right'))
		#stripes
		p Modern Motos is a image blog for modified vintage motorcycles.
		p I started building a vintage motorcycle a few years ago and realized there werent many sources for inspiration online other than going to individual shop web sites or getting help from friends. So I decided to create an online resource highlighting some of the best vintage bikes I have found online for others to use as inspiration.
		p Feel free to send me links to bikes you feel should be featured on this site. Please note I only post photos of modified vintage motorcycles (pre 1980) with modifications using parts that are well made and well designed.
		p The orange bike featured on this page is my 1972 Yamaha R5 which over the past couple years has been almost completely rebuilt.
		img(src=('/images/xs650_bratstyle.jpg'), class=('img-right'))
		.clear